@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* hide scrollbar */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* hide scrollbar */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and edge */
    scrollbar-width: none; /* firefox */
  }
}
.slick-next::before {
  color: black !important;
}
.slick-prev::before {
  color: black !important;
}
.slick-next {
  background-color: #fff !important;
  right: -10px !important;
  padding-top: 2px !important;
  z-index: 1;
}
.slick-prev {
  background-color: #fff !important;
  left: -10px !important;
  padding-top: 2px !important;
  z-index: 1;
}
#configure-notation-input {
  padding: 14px 16.5px;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
}
#configure-notation-input:focus {
  border: 2px solid #000;
  outline: none;
}
#icon-button {
  background-color: #1b1b20;
  color: #fff;
  height: fit-content;
  transition: 0.3s ease all;
}
#icon-button:hover {
  opacity: 0.8;
}
.react-flow__node {
  z-index: -1 !important;
}
